body{
    font-family: 'Roboto', sans-serif;
}
.MainTable {
  width:100%;
  table-layout: fixed;
  overflow:auto;
}

.MainTable2 {
  width:100%;
  table-layout: fixed;
  overflow:auto;
  display: none;
}

.myChart {
  width:5px;
  height:5px;
}

.talaa{
    margin-top: -90px;
}